.header__title {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 0 24px;
  text-decoration: none;
  transition: .3s linear;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.header__title:hover {
  opacity: 0.6;
}

@media screen and (max-width: 430px) {
  .header__title {
    margin: 0;
  }
}

