.card__inner {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 19px 15px 26px 21px;
  border-radius: 0 0 10px 10px;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .card__inner {
    padding-bottom: 25px;
  }  
}